<header class="flex flex-col gap-4 rounded-sm">
  <div class="grid-2 md:grid-cols-2">
    <div>
      <h1>{cv.name}</h1>
      <h2 class="text-amber-300">{@html cv.job.title}</h2>
    </div>
    <div class="text-right">
      {@html cv.header.join('<br />')}
    </div>
  </div>
  <div class="grid-2 md:grid-cols-[auto_minmax(216px,20%)]">
    <div class="font-[600]">{rt(cv.job.desc)}</div>
    <div class="relative h-[120px]">
      <img
        src="/martin.kase.jpg"
        alt="Martin Kaše"
        width="216"
        class="rounded-full border-8 -top-4 right-0 border-white absolute"
      />
    </div>
  </div>
</header>
<div class="grow md:overflow-y-auto flex flex-col gap-1">
  <div class="bg-teal-100 p-8">
    <h2 class="text-teal-900">Key Skills</h2>
    <ul>
      {#each cv.skills as item}
        <li>{item}</li>
      {/each}
    </ul>
  </div>
  <div class="p-8 bg-gray-200">
    <h2 class="text-teal-900">Technical Skills</h2>
    <ul>
      {#each Object.entries(cv.technical) as [key, val]}
        <li><strong>{key}:</strong> {val}</li>
      {/each}
    </ul>
  </div>
  <div class="p-8">
    <h2 class="text-teal-900">Work History</h2>
    <div class="flex flex-col gap-3">
      {#each cv.history as item}
        <div>
          <div class="flex">
            <h3>{item.title}<i>, {item.company || 'Contractor'}</i></h3>
            <div class="ml-auto text-teal-900 font-semibold">{item.date}</div>
          </div>
          <div>{rt(item.desc)}</div>
          <div class="text-teal-900 text-[90%] italic">-- {item.tech}</div>
        </div>
      {/each}
    </div>
    <h2 class="text-teal-900 mt-8">Earlier Career</h2>
    <p>Further career information available on request.</p>
  </div>
  <div class="grid-2b md:grid-cols-[auto_minmax(200px,30%)]">
    <div class="bg-teal-100">
      <h2 class="text-teal-900">Education / Trainings</h2>
      <ul>
        {#each cv.education as item}
          <li>{@html fmtHtml(item)}</li>
        {/each}
      </ul>
    </div>
    <div class="bg-gray-200">
      <h2 class="text-teal-900">Languages</h2>
      <ul>
        {#each cv.languages as item}
          <li>{@html fmtHtml(item)}</li>
        {/each}
      </ul>
    </div>
    <div class="bg-gray-200">
      <h2 class="text-teal-900">Other Skills / Info</h2>
      <ul>
        {#each cv.other as item}
          <li>{@html fmtHtml(item)}</li>
        {/each}
      </ul>
    </div>
    <div class="bg-teal-100">
      <h2 class="text-teal-900">Hobbies</h2>
      <ul>
        {#each cv.hobbies as item}
          <li>{@html fmtHtml(item)}</li>
        {/each}
      </ul>
    </div>
  </div>
</div>

<script lang="ts">
  import cv from '~/cv-martin-kase.yaml'

  function rt(s: string): string {
    try {
      // Remove repeated spaces
      s = s.replace(/ {2,}/gm, ' ')
      // Save tags
      let tags: string[] = []
      const saveReg = /<[a-z/][^>]*>/gim
      const restoreReg = /XXX(\d+)XXX/gm
      s = s.replace(saveReg, tag => {
        let replacement = 'XXX' + tags.length + 'XXX'
        tags.push(tag)
        return replacement
      })
      // Short words
      s = s.replace(/\b(\w{1,2})\b\s+/gim, '$1\xA0')
      // Restore tags
      s = s.replace(restoreReg, (_, index) => tags[Number(index)])
    } catch (e) {
      console.warn('Richtypo failed', e)
    }
    return s
  }

  function fmtHtml(s: string, p = false) {
    if (p) s = '<p>' + s.replace(/(\r?\n[\t ]*){2,}/gm, '</p><p>') + '</p>'
    return rt(s.replace(/(\\n|\n)/g, '<br />').replace(/_/g, '&nbsp;'))
  }
</script>
