@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  @apply bg-gray-300 text-base lg:text-lg;
}

main {
  @apply bg-gray-100 max-w-7xl m-auto h-screen p-1 flex flex-col gap-1;
}

header {
  @apply bg-teal-700 text-white p-4 md:p-8;
}

h1 {
  @apply mb-4 text-[300%] leading-none;
}

h2 {
  @apply text-[140%] font-[500] leading-tight mb-4;
}

h3 {
  @apply font-[600];
  > i {
    @apply font-normal;
  }
}

.grid-2 {
  @apply grid grid-cols-1 gap-4;
}

.grid-2b {
  @apply grid grid-cols-1 gap-1;
  > div {
    @apply p-8;
  }
}

ul {
  @apply list-disc list-outside pl-6;
}
